################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WPFEncrypt/WPFEncrypt/bin/Debug
/WPFEncrypt/WPFEncrypt/obj/Debug
